<span *ngIf="isRootPie" (click)="pieBack()"> Back</span>
<wj-flex-pie #pieChart [header]="headerTitle" [bindingName]="bindingX" 
             [binding]="service.binding" 
             [selectionMode]="'Point'" 
             (selectionChanged)="itemChanged($event)"
             [itemsSource]="dataPei">
  <wj-flex-chart-animation #pieAnimation [animationMode]="animationMode"  [duration]="duration">
  </wj-flex-chart-animation>
  <wj-flex-pie-data-label [content]=""></wj-flex-pie-data-label>
  <wj-flex-chart-legend position="Bottom"></wj-flex-chart-legend>
</wj-flex-pie>