
<style>
 
  .navbar-new-top{
  background: #444d58;
  height:62px;
}
.navbar-brand{
  font-weight: 600;
}

.navbarff a{
  font-weight: normal;
color:#fff !important;
}
.navbar-brand img{
  width: 65%;
  margin-top:-6px;
}
.navbar-new-top ul{
  margin-right: 9%;

}
.navbar-new-top ul li{
  margin-right: 8%;
}
.navbar-new-bottom{
  background-color: #fff;
  box-shadow: 0 5px 6px -2px rgba(0,0,0,.3);
  border-top: 1px solid #e0e0e0;
  margin-top: 4%;
}
ul{
  padding:13px;
  margin:0px;
}
a{
text-decoration: none;
font-size: 24px;

}
.navbar-new-bottom ul li{
  margin-left: 2%;
  margin-right: 2%;
}
.navbar-nav .nav-item a {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  transition: 1s ease;
text-transform:uppercase;
font-weight:normal;
}
.navbar-nav .nav-item a:hover{
  color: #0062cc;
}
.dropdown-menu.show{
  background: #f8f9fa;
  border-radius: 0;
}
.header-btn{
  width: 161%;
  border: none;
  border-radius: 1rem;
  padding: 8%;
  background: #0062cc;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}
.active{
border-bottom: 4px solid #000;
}


.fixed-top{
  z-index: 111 !important;
}

.hat{
  height:4px;
  background:linear-gradient(90deg,#0fbdbd 0,#8ac43c);
  margin-top: 62px;
}
</style>
<nav class="navbar fixed-top navbar-expand-md flex-nowrap navbar-new-top">

  <ul class="nav navbar-nav mr-auto">
      <a style="color:#fff !important;" href="/" class="navbar-brand">Spend Analytics / Wijimo Demo</a>
  </ul>
  <ul class="navbar-nav flex-row" >
      
  </ul>
   


</nav>

<div style="margin: 30px;background: #fff" >
  <div>
   
    <div>
      <span>Loading Time:<b style="font-size: 20px;font-weight: 900;">2.4s</b></span><br/>
      <span>Load Data: <b style="font-size: 20px;font-weight: 900;">10000</b></span> 
     </div>
  </div>
  <div class="row">
    <div class="col-md-6" >
      <app-bar-char [headerTitle]="'Country Bar'" [bindingX]="'name'" [service]="BarService" [dataSource]="dataBar" [stacking]="'Stacked'"  ></app-bar-char>
    </div>
    <div class="col-md-6"> 
        <app-bar-char [headerTitle]="'Country Line'" [bindingX]="'name'" [service]="lineService" [dataSource]="dataBar" [chartType]="'Line'" ></app-bar-char>
    </div>
  </div>
  <div >
     <app-pie-chart [headerTitle]="'Country Pie'" [bindingX]="'name'" [service]="pieService" [dataSource]="dataPei" [drillDown]=true  (selectItems)="itemsEvent($event)"  ></app-pie-chart>
  </div> 
</div>  