.login_inner {
    margin: 35px auto 0;
    background-color: #ffffff;
    padding: 30px 80px;
    max-width: 810px;
    width: 100%;
    overflow: hidden;
}
.login__logo {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    font-size:30px;
}
.login__title {
    text-align: center;
    color: #333333;
    margin-bottom: 15px; 
}
.txtCenter{
    text-align:center;
}