<div style="margin: 30px;background: #fff" >
  <div>
    <div style="text-align: center;font-size: 20px;font-weight: 600;padding: 20px;">Wijmo</div>
    <div>
      <span>Loading Time:<b style="font-size: 20px;font-weight: 900;">2.4s</b></span><br/>
      <span>Load Data: <b style="font-size: 20px;font-weight: 900;">10000</b></span> 
     </div>
  </div>
  <div  >
      <app-bar-char [headerTitle]="'Country Bar'" [bindingX]="'name'" [service]="BarService" [dataSource]="dataBar" [stacking]="'Stacked'"  ></app-bar-char>
  </div>
  <div > 
      <app-bar-char [headerTitle]="'Country Line'" [bindingX]="'name'" [service]="lineService" [dataSource]="dataLine" [chartType]="'Line'" ></app-bar-char>
  </div>
  <div >
     <app-pie-chart [headerTitle]="'Country Pie'" [bindingX]="'name'" [service]="pieService" [dataSource]="dataPei"></app-pie-chart>
  </div> 
</div> 